# VuePress files
docs/.vuepress/.temp/
docs/.vuepress/.cache/
docs/.vuepress/dist/
docs/.vuepress/
# Dist files
lib/

# Test temp files
**/__fixtures__/.temp/

# Test coverage files
coverage/

# Node modules
node_modules/

# folder
.vscode/

# MacOS Desktop Services Store
.DS_Store
*.DS_Store

# Log files
*.log
*._
#temp


# Typescript build info
.firebaserc
.firebase/hosting.ZG9jcy8udnVlcHJlc3MvZGlzdA.cache
firebase.json
.gitattributes
*.lock
Icon[^M]
*.zip
!/.gitignore
.env
config.json

