# VuePress files
docs/.vuepress/.temp/
docs/.vuepress/.cache/
docs/.vuepress/dist/

# Dist files
lib/

# Test temp files
**/__fixtures__/.temp/

# Test coverage files
coverage/

# Node modules
node_modules/

# folder
.vscode/
packages/
.vuepress/

# MacOS Desktop Services Store
.DS_Store

# Log files
*.log

#temp


# Typescript build info
*.tsbuildinfo
.firebaserc
.eslintrc.js
.firebase/hosting.ZG9jcy8udnVlcHJlc3MvZGlzdA.cache
.editorconfig
.commitlintrc.js
.eslintignore
.gitattributes
*.lock
*.js
*.json
*.html
*.css
*.scss
*.vue
Icon[^M]
*.zip
