$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;
.theme-container.course-page-class {
  @media (min-width: 1000px) {
    .page{
      padding-left: 13rem;
    }
    .sidebar{
      max-width: 250px;
    }
    .page .theme-default-content:not(.custom){
      max-width: 80%;
      padding-left: 2rem;
      margin-left: 3rem;
      margin-right: 2rem;
    }
    .page-meta{
      margin-left: 2rem;
    }
  }
  * {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }

  body {
    display: grid;
    place-items: center;
  }
  .page-meta{
    max-width: 1000px;
  }
}
.theme-container.devbook-page-class {
  code{
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-weight: 700;
  }
  @media (min-width: 1000px) {
    .page{
      padding-left: 13rem;
    }
    .sidebar{
      max-width: 250px;
    }
    .page .theme-default-content:not(.custom){
      max-width: 73%;
      padding-left: 5rem;
      margin-left: 3rem;
      margin-right: 2rem;
    }
    .page-meta{
      margin-left: 2rem;
    }

  }
  .page-meta{
    max-width: 1000px;
  }
  .page-nav, .page-meta{
    max-width: 1000px;
  }
}

@media (max-width: 1050px){
  .site-name{
    display: none;
  }
}
@media (max-width: $MQMobile){
  .cat-container{
    display: none;
  }
  .page{
    padding-left: 0 !important;
  }
}
@media (max-width: 1370px){
  .cat-container{
    display: none;
  }
}
